/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular; 
    src: url(./assets/fonts/Muli-Regular.woff);
    font-style: normal;
}
@font-face {
    font-family: Muli-Bold; 
    src: url(./assets/fonts/Muli-Bold.woff);
    font-style: normal;
}

@font-face {
    font-family: Muli-ExtraBold; 
    src: url(./assets/fonts/Muli-ExtraBold.woff);
    font-style: normal;
}

@font-face {
    font-family: Muli-ExtraBoldItalic; 
    src: url(./assets/fonts/Muli-ExtraBoldItalic.woff);
    font-style: normal;
}

@font-face {
    font-family: Poppins-Medium; 
    src: url(./assets/fonts/Poppins-Medium.ttf);
    font-style: normal;
    }

@font-face {
    font-family: Poppins-SemBold; 
    src: url(./assets/fonts/Poppins-SemBold.ttf);
    font-style: normal;
    }

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/



/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body { 
    font-family: 'Muli-Regular' sans-serif;
    border: 1px solid red;
    margin: 0;
}


/* Для всех одинаковые стили */
.ul {
     
}

.li {
    

}

a {
    display: inline-block;
}

a:hover {
    text-decoration: none;
    
}



/* Header */

.header {
    height: 100vh;
    background: url(../images/1header/header-bg-img.png);
    background-position: center;
    background-size: cover;
    color: white;
    border: 1px solid red;
   
}

.header__top {
    padding: 70px 100px 100px;
    display: flex;
    justify-content: space-between;
}



.header__menu {
    width: 540px;
    height: 11px;font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #ffffff;

}

.menu__list {
    
    list-style: none; 
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    
    
}

.menu__item {
    margin-right: 35px;
    
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    

}

.header__logo {
    border: 1px solid red;
}

.header__personal {
    border: 1px solid red;
    text-decoration: none;
    list-style: none; 
}

.personal__list {
    list-style: none;
}

.header__social {
    border: 1px solid red;
    text-decoration: none;
    list-style: none; 
}

.social__list {
    list-style: none;
}

.personal__cart-count {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.btn--bg-green {
    background: #0aa566;
    height: 70px;
    width: 280px;
    border-radius: 35px;
    
}

/* Smoothies */


/* About */


/* Products */


/* Story */


/* Testimonials */


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */





