/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: "MuliRegular";
    src: url(./../assets/fonts/Muli-Regular.woff);
    font-style: normal;
    font-stretch: normal;
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/
@font-face {
    font-family: "MuliBold";
    src: url(./../assets/fonts/Muli-ExtraBold.woff);
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "MuliExtraBold";
    src: url(./../assets/fonts/Muli-ExtraBoldItalic.woff);
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "MuliExtraBoldItalic";
    src: url(./../assets/fonts/Muli-ExtraBoldItalic.woff);
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "PoppinsMedium";
    src: url(./../assets/fonts/Poppins-Medium.ttf);
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url(./../assets/fonts/Poppins-SemiBold.ttf);
    font-style: normal;
    font-stretch: normal;
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "MuliRegular", sans-serif;
    border: 1px solid red;
    margin: 0;

}


/* Для всех одинаковые стили тегам */
ul {
    font-family: "MuliBold", sans-serif;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    font-family: "MuliExtraBold", sans-serif;
    text-align: left;
}

/* классам */
.btn {
    border-radius: 30px;
    background-color: #0aa566;
}

text {
    font-family: "MuliRegular", sans-serif;
}

title {
    font-family: "MuliExtraBold", sans-serif;
}

/* Header */

.header {
    height: 100vh;
    background: url(../images/1header/header-bg-img.png);
    background-position: center;
    background-size: cover;
    color: white;
    border: 5px solid red;
}

.header__top {
    padding: 70px 100px 100px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* применить стиля для меню */
.header__menu {
    border: 1px solid red;
}

.menu__list {
    display: flex;
    align-items: center;
}

/* зададим внешние отступы между li */
.menu__item {
    margin-right: 30px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
}

/* применить стили для логотипа */
.header__logo {
    border: 1px solid red;
}

.logo__link {}

/* применить стили для иконок поиска и пр. */
.header__right-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__personal {
    border: 1px solid red;
    margin-right: 130px;
}

.personal__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.personal__item {
    margin-right: 45px;
}

.personal__item:last-child {
    margin-right: 0;
}

.personal__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal__icon-search {}

.personal__icon-user {}

.personal__cart-icon {}

.personal__cart-count {
    width: 18px;
    height: 18px;
    background-color: white;
    font-size: 10px;
    display: inline-block;
    line-height: 1.8;
    text-align: center;
    border-radius: 50%;
    color: black;
}

/* применить стили для социальных иконок */
.header__social {
    border: 1px solid red;
}

.social__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list-item {
    margin-right: 10px;
}

.social__list-item:last-child {
    margin-right: 0;
}

.social__link {
    width: 35px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social__icon {}

/* применить стили для кнопки в header */
.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.header__btn {
    width: 280px;
    height: 70px;
    padding: 25px 39px 23px 38px;
    border-radius: 35px;
    border: none;
    background-color: #0aa566;
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;

}


/* Smoothies */
.smoothies {
    border: 5px solid blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 870px;
    padding: 100px 0;
}

.smoothies__report {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title--yellow {
    font-size: 50px;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    color: #f7ae3b;
}

.title--grey {
    width: 915px;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: #1e1e1e;
    padding-top: 56px;
}

.smoothies__info-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 1010px;
    margin: 0 auto;
    padding-top: 64px;
}

.smoothies__list-item {
    flex: 1 1 160px;
    text-align: center;
    line-height: 2;
    color: #f2612d;
}

.smoothies__list-item:nth-child(1),
.smoothies__list-item:nth-child(2),
.smoothies__list-item:nth-child(3) {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;
}

.smoothies__list-item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__list-item:nth-child(5),
.smoothies__list-item:nth-child(6),
.smoothies__list-item:nth-child(7) {
    border-right: 2px solid #f6edde;
}

.smoothies__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 90px 25px 86px;
}

.smoothies-info__title {
    display: block;
    padding-bottom: 36px;
}

/* About */
.about {
    background-color: #14826f;
    border: 5px solid red;
    display: flex;
    justify-content: space-between;
    min-height: 800px;
}

.about__box-image {
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
}


.about__box-list {
    border: 1px solid red;
    width: 586px;
    text-align: left;
    padding: 98px 0;
    margin-right: 360px;
    
}

.title--white {
  font-size: 55px;
  line-height: 1;
  color: white;
  
}

.title--green {
    color: #cae941;
}

.about__list {
    padding-top: 66px;
    padding-bottom: 50px;
}
.about__list-item {
    padding: 0 0 20px 0;
    font-weight: normal;
    font-family: "MuliRegular";
    list-style-image: url(../images/3about/icons.png);
    font-size: 21px;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}

.text--bold {
 font-weight: bold;
}

.about__btn {
    width: 380px;
    height: 60px;
    border-radius: 30px;
  border: solid 2px #f8b231;
    background-color: transparent;
    font-size: 21px;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
    
    padding-left: 25px;
}

/* Products */
.products {
    border: 5px solid blue;
    height: 720px;
    display: flex;
    justify-content: center;
    }

.products__item {
    width: 25%;
    padding-top: 130px;
    text-align: center;
    color: white;
    
}

.products__item--bg-brown {
    background-color: #632b17;
}
.products__item--bg-green {
    background-color: #178670;
}
.products__item--bg-yellow {
    background-color: #f7ae3b;
}
.products__item--bg-red {
    background-color: #c3471b;
}

.products__title {
  font-family: "MuliBold";
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  padding-top: 30px;
  
}

.products__capacity {
    font-size: 21px;
  font-style: "MuliItalic";
  line-height: 2;
}

.products__btn-white {
    display: flex;
    align-items: center;
    padding-left: 38px;
    width: 204px;
  height: 60px;
  border: solid 2px white;
  background-color: transparent;
  

}


/* Story */
.story {
    border: 5px solid red;
}



/* Testimonials */
.testimonials {
    border: 5px solid blue;
}


/* Blog */
.blog {
    border: 5px solid red;
}


/* Instagram */
.instagram {
    border: 5px solid blue;
}


/* Footer */
.footer {
    border: 5px solid red;
}



/* Здесь будут медиа запросы */
