/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: "MuliBold";
    src: url(./../assets/fonts/Muli-Bold.ttf);
    font-style: normal;
    font-stretch: normal;
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/
@font-face {
    font-family: "MuliBoldItalic";
    src: url(./../assets/fonts/Muli-BoldItalic.ttf);
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "MuliExtraBold";
    src: url(./../assets/fonts/Muli-ExtraBold.woff);
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "MuliItalic";
    src: url(./../assets/fonts/Muli-Italic.ttf);
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "MuliRegular";
    src: url(./../assets/fonts/Muli-Regular.woff);
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "MuliSemiBoldItalic";
    src: url(./../assets/fonts/Muli-Semi-BoldItalic.ttf);
    font-style: normal;
    font-stretch: normal;
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "MuliRegular", sans-serif;
    border: 1px solid red;
    height: 100vh;
    margin: 0;

}


/* Для всех одинаковые стили тегам */
ul {
    
}

li {
    list-style: none;
    text-decoration: none;
    font-family: "MuliBold", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    font-family: "MuliExtraBold";
    border-radius: 30px;
    background-color: #0aa566;
}

/* классам */
.title {
    font-family: "MuliExtraBold";
}

.text {
    font-family: "MuliRegular"
}

/* Header */

.header {
    height: 1080px;
    background: url(../images/1header/header-bg-img.png);
    background-position: center;
    background-size: cover;
    color: white;
    border: 5px solid red;
}

.header__top {
    padding: 70px 100px 100px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* применить стиля для меню */
.header__menu {
    border: 1px solid red;
}

.menu__list {
    display: flex;
    align-items: center;
}

/* зададим внешние отступы между li */
.menu__item {
    margin-right: 30px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
}

/* применить стили для логотипа */
.header__logo {
    border: 1px solid red;
}

.logo__link {}

/* применить стили для иконок поиска и пр. */
.header__right-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__personal {
    border: 1px solid red;
    margin-right: 130px;
    position: relative;
}

.header__personal::after {
    content: "";
    height: 2px;
    width: 48px;
    background-color: #ffd68f;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -94px;
    transform: transparenty(-50%);
}

.personal__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.personal__item {
    margin-right: 45px;
}

.personal__item:last-child {
    margin-right: 0;
    position: relative;
}

.personal__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal__icon-search {}

.personal__icon-user {}

.personal__cart-icon {}

.personal__cart-count {
    width: 18px;
    height: 18px;
    background-color: white;
    font-size: 10px;
    display: inline-block;
    line-height: 1.8;
    text-align: center;
    border-radius: 50%;
    color: black;
    position: absolute;
    top: -12px;
    right: -15px;
}

/* применить стили для социальных иконок */
.header__social {
    border: 1px solid red;
}

.header__social::before {
    content "yyy";
    display: inline-block;
    background-image: url("../images/1header/line.png");
    background-size: cover;
    width: 20px;
    height: 20px;
}

.social__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list-item {
    margin-right: 10px;
}

.social__list-item:last-child {
    margin-right: 0;
}

.social__link {
    width: 35px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social__icon {}

/* применить стили для кнопки в header */
.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.header__btn {
    width: 280px;
    height: 70px;
    padding-left: 30px;
    border-radius: 35px;
    border: none;
    background-color: #0aa566;
    font-size: 24px;
    color: #ffffff;
    text-align: left;
    position: relative;
    
}

.btn--bg-green::after {
    display: inline-block;
    content: "";
    background-image: url(../images/ArrowRight.png);
    background-size: cover;
    position: absolute;
    height: 16px;
    width: 30px;
    top: 30px;
    right: 38px;
}


/* Smoothies */
.smoothies {
    border: 5px solid blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 870px;
    padding: 100px 0;
}

.smoothies__report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 910px;
}

.smoothies__title {
    font-size: 50px;
    line-height: 1;
    color: #f7ae3b;
    text-align: center;
}

.smoothies__text {
    font-size: 18px;
    line-height: 2;
    color: #1e1e1e;
    margin-top: 56px;
    margin-bottom: 61px;
}

.smoothies__info-list {
    width: 1016px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.smoothies__list-item {
    color: #f2612d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 195px;
    flex: 0 1 25%;
}

.smoothies__list-item:nth-child(1),
.smoothies__list-item:nth-child(2),
.smoothies__list-item:nth-child(3),
.smoothies__list-item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__list-item:nth-child(1),
.smoothies__list-item:nth-child(2),
.smoothies__list-item:nth-child(3),
.smoothies__list-item:nth-child(5),
.smoothies__list-item:nth-child(6),
.smoothies__list-item:nth-child(7) {
    border-right: 2px solid #f6edde;
}

.smoothies__img {}

.smoothies-info__title {
    margin: 20px 30px 20px 30px;
    font-family: "MuliExtraBold", sans-serif;
}

/* About */
.about {
    background-color: #14826f;
    border: 5px solid red;
    display: flex;
    justify-content: left;
    min-height: 800px;
    
}

.about__box-image {
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    position: relative;
    bottom: -85px;
    left: 160px;
}

.about__box-list {
    border: 1px solid red;
    margin-top: 98px;
    margin-left: 35px;
}

.title--white {
    font-size: 55px;
    line-height: 1;
    color: white;
    width: 620px;
}

.title--green {
    color: #cae941;
    position: relative;
}

.title--green::after{
    display: inline-block;
    content: "";
    background-image: url(../images/3about/Line.png);
    background-size: cover;
    width: 450px;
    height: 13px;
    position: absolute;
    left: -17px;
    top: 100%;
}

.about__list {
    padding-top: 66px;
    padding-bottom: 50px;
}

.about__list-item {
    padding: 0 0 20px 0;
    font-weight: normal;
    font-family: "MuliRegular";
    list-style-image: url(../images/3about/icons.png);
    font-size: 21px;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 30px;
}

.text--bold {
    font-weight: bold;
}

.about__btn {
    width: 380px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #f8b231;
    background-color: transparent;
    font-size: 21px;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
    padding-left: 25px;
    position: relative;
}

.about__btn::after {
    display: inline-block;
    content: "";
    background-image: url(../images/ArrowRight.png);
    background-size: cover;
    width: 30px;
    height: 16px;
    position: absolute;
    top: 30%;
    right: 30px;
    transform: translateY(30%);
   
}

/* Products */
.products {
    border: 5px solid blue;
    min-height: 720px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;

}

.products__item {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;

}

.products__item--bg-brown {
    background-color: #632b17;
}

.products__item--bg-green {
    background-color: #178670;
}

.products__item--bg-yellow {
    background-color: #f7ae3b;
}

.products__item--bg-red {
    background-color: #c3471b;
}

.products__img {
    height: 303px;
    width: 119px;
}

.products__title {
    font-family: "MuliBold";
    line-height: 1;
    letter-spacing: normal;
    margin-top: 40px;
    margin-bottom: 10px;
}

.products__capacity {
    font-size: 21px;
    font-style: "MuliItalic";
    line-height: 2;
    margin-bottom: 64px;
}

.products__btn-white {
    width: 204px;
    height: 60px;
    border: solid 2px white;
    background-color: transparent;
    color: #ffffff;
    text-align: start;
    padding-left: 40px;
    position: relative;

}

.products__btn-white::after {
    display: inline-block;
    content: "";
    background-image: url(../images/Arrow.btn-white.png);
    background-size: cover;
    position: absolute;
    height: 16px;
    width: 30px;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    
}

/* Story */
.story {
    border: 5px solid red;
    height: 890px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.story::after {
    display:inline-block;
    content: "";
    background-image: url(../images/5story/Dots.png);
    background-size: cover;
    width: 410px;
    height: 300px;
    position: absolute;
    bottom: -230px;
    right: 58px;

}
/* левая часть с историей*/
.story__card {
    border: 1px solid blue;
    height: 100%;
    width: 520px;
}

.story__title--yellow {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 50px;
    color: #f7ae3b;
    padding: 266px 0px 42px 0px;
}

.story__text {
    font-size: 18px;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    padding-bottom: 60px;
}

.story__btn {
    width: 301px;
    height: 60px;
    border-radius: 30px;
    background-color: #0aa566;
    font-family: "MuliExtraBold", sans-serif;
    font-size: 21px;
    color: #ffffff;
    padding-left: 40px;
    border: none;
    text-align: start;
    padding-left: 40px;
    position: relative;
}

.story__btn::after {
    display: inline-block;
    content: "";
    background-image: url(../images/ArrowRight.png);
    background-size: cover;
    position: absolute;
    height: 16px;
    width: 30px;
    top: 24px;
    right: 38px;
}

/* правая часть к картинкой и облаком */
.story__image {
    border: 1px solid blue;
    width: 1100;
    height: 100%;
    position: relative;
    
}

.story__img {
    width: 586px;
    height: 602px;
    padding: 122px 66px 0px 0px;
}

.story__image::before {
    position: absolute;
    display: inline-block;
    content: "";
    background-image: url(../images/5story/Story-Stamp.png);
    background-size: cover;
    width: 290px;
    height: 216px;
    top: 15%;
    left: -30%;
}
/* Testimonials */
.testimonials {
    border: 5px solid blue;
    height: 720px;
    background-color: #672f1b;
}

.testimonials__wrapper {}

.testimonials__title {
    font-size: 50px;
    text-align: center;
    color: #f7ae3b;
    padding: 120px 0px 120px 0px;
}

.title--red {
    color: #f2612d;
}

.testimonials__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials__feedback {
    width: 460px;
    height: 130px;
    text-align: center;
    margin-right: 60px;
}

.text--white {
    font-size: 18px;
    line-height: 2;
    color: white;
    position: relative;
    z-index: 1;
}

.text--orange {
    font-weight: 600;
    font-family: "MuliSemiBoldItalic";
    color: #f7ae3b;
    display: block;
    padding-top: 26px;
    position: relative;
}

.text--orange::before {
    position: absolute;
    display: inline-block;
    content: "";
    background-image: url("../images/6testimonials/Sarah.png");
    background-size: cover;
    width: 764px;
  height: 148px;
  opacity: 2;
  top: -194px;
  left: -150px;

}

.testimonials__img {
    position: relative;
    z-index: 2;
}

.testimonials__buttons {
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.testimonials__btn-link-arrow {
    margin: 121px 100px 0 0;
    position: relative;
}

.testimonials__btn-link-arrow::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 16px;
    background-image: url(../images/ArrowLeft.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: -24px;
}

.testimonials__btn-link-arrow:last-child::before {
    transform: rotate(180deg);
}

/* Blog */
.blog {
    border: 5px solid red;
    min-height: 800px;
    display: flex;
    justify-content: center;
}

.blog__title {
    font-size: 50px;
    line-height: 1;
    text-align: left;
    color: #f7ae3b;
    padding: 100px 0px 50px 0px;
}

.blog__img {
    position: relative;
    z-index: 1;
}

.blog__article {
    padding-left: 60px;
}

.articale__title {
    font-size: 30px;
    line-height: 1;
    text-align: left;
    color: #f2612d;
    padding-top: 330px;
    position: relative;
}

.articale__title::before {
    position: absolute;
    display: block;
    content: "";
    width: 686px;
    height: 14px;
    background-image: url(../images/7blog/Line.png);
    background-size: cover;
    border-radius:35px;
    top: 268px;
    left: -104px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    -ms-border-radius:35px;
    -o-border-radius:35px;
}

.blog__date {
    width: 94px;
    height: 14px;
    font-size: 16px;
    line-height: 2;
    text-align: left;
    color: #1e1e1e;
    font-family: "MuliRegular"
}

.article__text {
    width: 540px;
    height: 122px;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: #1e1e1e;
    padding-left: 60px;
    padding-top: 40px;
}

.blog__link {}

.btn--text-bold {
    font-weight: 800;
    font-size: 18px;
    font-family: "MuliExtraBoldItalic";
    position: relative;
}

.btn--text-bold::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 18px;
    height: 10px;
    background-image: url(../images/7blog/blogArrow.png);
    background-size: cover;
    top: 25%;
    left: 100px;
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
}


/* Instagram */
.instagram {
    border: 5px solid blue;
    padding-bottom: 10px;
    padding-right: 0;
    margin-right: 0;
}

/* иконка инстограмма будут псевдоэлементами */

.instagram__social-link {
    height: 70px;
    padding-bottom: 50px;
    font-family: "MuliExtraBold";
    font-size: 24px;
    font-weight: 800;
    line-height: 2;
    color: #0aa566;
    display: block;
    text-align: center;
}

.instagram__gallery {
    display: flex;
    justify-content: space-between;
}

.instagram__img {
    width: 100%;
    object-fit: cover;

}

/* иконки будут псевдоэлементами */

/* Footer */
.footer {
    border: 5px solid red;
    height: 432px;
}

.footer__wrapper {
    background-color: #f6ab3b;
    height: 372px;
    display: flex;
    justify-content: start;

}

.footer__logo {
    border: 1px solid blue;
    padding: 130px 280px 170px 100px;
}

.footer__right-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0;
}

.footer__information {
    border: 1px solid blue;
    margin-right: 152px;
}

.footer__title {
    max-height: 20px;
    font-size: 26px;
    line-height: 1.5;
    text-align: left;
    color: white;
    margin-bottom: 44px;

}

.footer__info-list {}

.footer__list-item {}

.footer__item-link {
    font-size: 18px;
    line-height: 2;
    letter-spacing: -0.36px;
    text-align: left;
    color: #6d450c;
}

.footer__pay-system {
    border: 1px solid blue;
    margin-right: 170px;
}

.pay__box-images {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.footer__img-payments {
    margin-right: 16px;

}

.footer__email {
    border: 1px solid blue;
}

.footer__input {
    border: 1px solid blue;
    width: 495px;
    height: 60px;
    border-radius: 30px;
    background-color: white
    padding-left: 68px;
}

input::placeholder {
    font-family: "MuliBold";
    font-size: 17px;
    color: #6d450c;
  }

.footer__btn {
    border: 1px solid blue;
    width: 150px;
    height: 30px;
    font-family: "MuliExtraBold";
    font-size: 17px;
    line-height: 2.06;
    letter-spacing: -0.34px;
    color: #6d450c;
    display: flex;
    align-items: center;
}

.footer__social-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 186px;
    margin-top: 30px;
}

.footer__social-links {
    border: 1px solid blue;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
}

.footer__social-link {
    margin-right: 20px;
}

.footer__basement {
    background-color: #6c2c1c;
    max-height: 60px;
}

.footer__copyright {
    border: 1px solid rgb(29, 250, 9);
    font-size: 13px;
    line-height: 3;
    color: #af8a82;
    width: 1050px;
    padding-left: 866px;
    padding-right: 660px;
}

.footer__basement-right {
    position: absolute;
    right: 100px;
    top: -60%;
}
.footer__btn-go-up {
    border: 1px solid rgb(29, 250, 9);
    font-family: "MuliBold";
    font-size: 16px;
    line-height: 2.5;
    color: white;
}

.footer__btn-to-top {
    width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #f2662f;

}





/* Здесь будут медиа запросы */
