//main: ./main.less

// .story__title--yellow{
//     .smoothies_title;
// }

.btn-hover-color (@btn-bgr-color) {
        background-color: @btn-bgr-color;
        border: 5px solid rgb(245, 152, 46);
        color: @primeryBtnBgrColor;
}