//main: ./main.less


@baseFontSize: 10px;

// button
@primeryBtnBgrColor: #0aa566;
@primeryBtnBorder: solid 2px;
@primeryBtnColor: white;
@primeryBtnFontSize: 2.1rem;
@primeryBtnLineHeight: 1;
@primeryBtnBorderRadius: 30px;
@primeryBtnFontFamily: 'MuliExtraBold';

// hover
@primerColorHover:  darken(@primeryBtnBgrColor, 5%);


// title
@primeryTitleFontFamily: 'MuliExtraBold';
@primeryTitleFontSize: 5.0rem;
@secondaryTitleFontSize: 2.5rem;
@primeryTitleColor: white;
@secondaryTitleColor: #f7ae3b;
@tertiaryTextColor: #750375;

// text
@primeryTextFontFamily: 'MuliRegular';
@primeryTextFontSize: 1.8rem;
@primeryTextLineHeight: 2;
@primeryTextColor: #1e1e1e;
