// out: ../css/main.min.css, compress: true, sourceMap: true
@import "./_fonts.less";
@import "./_mixins.less";
@import "./_vars.less";



/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "MuliRegular", sans-serif;
    margin: 0;
    height: 100vh;
    font-size: @baseFontSize;
    line-height: 1.1;
}


/* Для всех одинаковые стили: тегам */
li {
    list-style: none;
    text-decoration: none;
    font-family: "MuliBold", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    background-color: @primaryColor;
    border-radius: @primaryBorderRadius;
    .btn-text();
    .btn-border(@secondaryColor);
}

button,
button:hover,
button:active,
button:focus {
outline: none !important;
}



/* ------blocks------ */
@import "./blocks/_about.less";
@import "./blocks/_article.less";
@import "./blocks/_blog.less";
@import "./blocks/_button.less";
@import "./blocks/_footer.less";
@import "./blocks/_header.less";
@import "./blocks/_instagram.less";
@import "./blocks/_logo.less";
@import "./blocks/_menu.less";
@import "./blocks/_personal.less";
@import "./blocks/_products.less";
@import "./blocks/_smoothies.less";
@import "./blocks/_social.less";
@import "./blocks/_story.less";
@import "./blocks/_testimonials.less";

@import "./_media.less";
