//main: ./../main.less

// blog
.article {
    &__title {
        text-align: left;
        margin-top: 330px;
        position: relative;
        .title(@primaryFontFamily, 3.0rem, #f2612d);
        line-height: 1.3;

        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 686px;
            height: 14px;
            background-image: url(../images/7blog/Line.png);
            background-size: cover;
            border-radius: 35px;
            top: -50px;
            left: -104px;
        }
    }

    &__text {
        text-align: left;
        margin: 40px 0 0 60px;
        max-width: 472px;
        .text(@secondaryFontFamily, @secondaryTextColor);
    }
}
