//main: ./../main.less

// header
.btn--bg-green::after {
    display: inline-block;
    content: "";
    background-image: url(../images/ArrowRight.png);
    background-size: cover;
    position: absolute;
    height: 16px;
    width: 30px;
    top: 30px;
    right: 38px;
}

// blog
.btn--text-bold {
    font-weight: 800;
    font-size: 1.8rem;
    font-family: "MuliExtraBoldItalic";
    position: relative;

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 18px;
        height: 10px;
        background-image: url(../images/7blog/blogArrow.png);
        background-size: cover;
        top: 25%;
        left: 100px;
        transform: translateY(25%);
    }
}
