//main: ./../main.less

.instagram {
    padding-bottom: 10px;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__social-link {
        margin-bottom: 50px;
        font-family: "MuliExtraBold";
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 2;
        color: #0aa566;
        position: relative;

        &::before {
            display: block;
            content: "";
            background-image: url(../images/8instagram/Instagram-Icon.png);
            background-size: cover;
            width: 26px;
            height: 26px;
            position: absolute;
            top: 25%;
            left: -20%;
        }
    }

    // &__gallery {
    //     display: flex;
    //     justify-content: space-between;
    //     min-width: 0;
    // }


    &__img-wrap {
        position: relative;
        flex: 0 1 20%;
        object-fit: cover;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/8instagram/FotoIcon.png);
            background-size: cover;
            width: 26px;
            height: 26px;
            bottom: 20px;
            right: 20px;
        }
    }
}

