//main: ./../main.less


.story {
    display: flex;
    justify-content: space-around;
    position: relative;

    .story::after {
        display: inline-block;
        content: "";
        background-image: url(../images/5story/Dots.png);
        background-size: cover;
        width: 410px;
        height: 300px;
        position: absolute;
        bottom: -230px;
        right: 58px;
    }

    &__card {
        padding-bottom: 290px;
        width: 520px;
    }

    &__title--yellow {
        color: @secondaryTitleColor;
        margin: 266px 0px 42px 0px;
    }

    &__text {
        text-align: left;
        margin-bottom: 60px;
    }

    &__btn {
        width: 301px;
        height: 60px;
        padding-left: 40px;
        border: none;
        text-align: start;
        position: relative;

        &:hover {
            .btn-hover-color (@primerColorHover);
        }

        &::after {
            display: inline-block;
            content: "";
            background-image: url(../images/ArrowRight.png);
            background-size: cover;
            position: absolute;
            height: 16px;
            width: 30px;
            top: 24px;
            right: 38px;
        }
    }

    &__image {
        position: relative;
        padding-top: 120px;

        &::before {
            position: absolute;
            display: inline-block;
            content: "";
            background-image: url(../images/5story/Story-Stamp.png);
            background-size: cover;
            width: 290px;
            height: 216px;
            top: 15%;
            left: -30%;
        }
    }

    &__img {
        width: 586px;
        height: 602px;
    }
}
