//main: ./../main.less


.testimonials {
    background-color: #672f1b;

    &__title {
        text-align: center;
        color: @secondaryTitleColor;
        padding-top: 120px;
        margin-bottom: 120px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__feedback {
        width: 460px;
        text-align: center;
        margin-right: 60px;
    }

    &__img {
        position: relative;
        z-index: 2;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        padding: 120px 0 0 100px;
    }

    &__btn-link-arrow {
        padding: 80px 100px 0 0;
        position: relative;

        &::before {
            display: inline-block;
            content: "";
            width: 30px;
            height: 16px;
            background-image: url(../images/ArrowLeft.png);
            background-size: cover;
            position: absolute;
            top: 0;
            left: -24px;
        }

        &:last-child::before {
            transform: rotate(180deg);
        }
    }
}

.text--white {
    color: white;
    position: relative;
    z-index: 1;
}

.text--orange {
    font-family: "MuliSemiBoldItalic";
    color: #f7ae3b;
    display: block;
    padding-top: 26px;
    position: relative;

    &::before {
        position: absolute;
        display: inline-block;
        content: "";
        background-image: url("../images/6testimonials/Sarah.png");
        background-size: cover;
        width: 764px;
        height: 148px;
        opacity: 2;
        top: -194px;
        left: -150px;
    }
}

.title--red {
    color: #f2612d;
}
